  html, body{
   height: 100%;
   width: 100%;
   }

   .form-wrapper{
       position: relative;
       width: 100%;
   }
   .map-wrapper{
     height: auto;
     width: 100%;
     position: relative;
     z-index: 0;
   }


  .btn2 {
    width:100%;
    height: 15%;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top: 80%;
}

.tab {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  display: none;
}


  .next {
      position: absolute;
      left: 80%;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 10px;
    }
  .prev {
      position: absolute;
      right: 80%;
      top: 50%;
      transform: translateY(-50%);
      margin-left: 10px;
    }


/* Mark input boxes that gets an error on validation: */
input.invalid {
background-color: #ffdddd;
}


button:hover {
opacity: 0.8;
}



.btnImage {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 6px 15px;
  border-radius: 8px;
  font-size: 9px;
  font-weight: bold;
  width: 100%;
}

/* .upload-btn-wrapper input[type=file] {
  font-size: 80px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
} */

.formDj {
  margin: 0;
}


/*Invert dropdown to dropup*/
.awesomplete > ul {
  bottom: 100% !important;
}
/*Hide the arrow*/
.awesomplete > ul::before{
  display:none;
}

/* .obsDate > input {
  bottom: 100% !important;
} */

/* date input style */
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

#datepicker {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
}

/* add media queries */
@media screen and (min-width: 700px){
  .btn2 {
      height: 10%;
  }
  .btnImage{
    font-size: 0.9em;
  }
  .firstTab {
    font-size:0.9;
  }
}
