<!--<h1>select your species</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:obs'}" method="post">
{% csrf_token %}
{% for choice in observation.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.obs_type }}</label><br />
{% endfor %}
<input type="submit" value="Submit" />
</form>-->

<!--{{specie}}-->

<form action="{% url 'polls:detail'}" method="post">
{% csrf_token %}
<input type="radio" name="observation_type" id="{{obs_type}}" />
<label>{{ obs_type }}</label><br />
<input type="submit" value="Submit">
</form>
