
body {
    height: 100%;
    width: 100%;
	z-index: -1;
}
.coverMap {
  background: url('/static/images/map2.png') center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.addButton{
  position: absolute;
  left: 55%;
  top: 16%;
}

.brandsize {
  height: 30px;
  width: 100px;
}
.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}

@media screen and (min-width: 850px) {
  .addButton{
    left:85%;
  }
}
