body {
    padding: 0;
    margin: 0;
}

#map {
    height: 100%;
    width: 100%;
}

.brandsize {
  height: 30px;
  width: 100px;
}
.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
