
body #map {
    height: 91%;
    width: 100%;
}
.addButton{
  position: absolute;
  left: 55%;
  top: 15%;
}

.brandsize {
  height: 30px;
  width: 100px;
}
.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}

@media screen and (min-width: 850px) {
  .addButton{
    left:85%;
  }
}
