<html>
<head>
    {% load leaflet_tags %}
    {% leaflet_js %}
    {% leaflet_css %}
    {% load staticfiles %}
    {% load static %}
    {{ poi_form.media }}

    <meta name="viewport" content="user-scalable=no, initial-scale=1, width=device-width">
    <meta charset="utf-8" />


    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />-->
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!--<script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">

    </script>
    <script type="text/javascript" src="/static/js/index.js"></script>-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-E24N60ZWFZ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-E24N60ZWFZ');
    </script>

</head>
<style>

.btn-margin-left {
    margin-left: 2px;
}
.btn-margin-right {
    margin-right: 2px;
}
.same_lenght{
  width: 150px;
}

</style>
<body class="coverMap">

  <!-- adding navbar -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">
        <img class="brandsize" src="{% static 'images/bio.png' %}" alt="">
      </span>


      <!-- the hamberger view -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
        </button>

          <!-- adding collapsable elements to the navbar -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <form class="form-inline my-2 my-lg-0" action="/polls/allObs/">
            <button  class="same_lenght btn btn-info btn-margin-right btn-margin-left" type="submit">All observations</button>
          </form>
          <form class="form-inline my-2 my-lg-0" action="/polls/myObs/">
            <button  class="same_lenght btn btn-info btn-margin-left btn-margin-right" type="submit">My observations</button>
          </form>
          <form class="form-inline my-2 my-lg-0" action="/polls/leaderboard/">
            <button  class="same_lenght btn btn-warning btn-margin-left" type="submit">Leaderboard</button>
          </form>

          <!-- Login sigin links -->
                  <div class="navbar-nav ml-auto">
                    {% block content %}
                      {% if user.is_authenticated %}

                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                          <span class="navbar-text">
                            Hi {{ user.username }}!
                          </span>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">logout</a></li>
                        </ul>

                        {% else %}

                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                            <span class="navbar-text">
                              You are not logged in:
                            </span>
                          </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">login</a></li>
                        <li class="nav-item">
                          <span class="navbar-text">
                              |
                          </span>
                        </li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'polls:signup' %}">signup</a></li>
                        </ul>
                      {% endif %}
                    {% endblock %}
                  </div>
        </div>
  </nav>

<!-- <div id="map"></div> -->
<div class="addButton">

  <form id="loginForm" method="get" action="/polls/observe/">
    <button id="loginFirst" class="btn btn-danger same_lenght" type="submit">Add observation</button>
  </form>


</div>



<!-- <script type="text/javascript">

// var map = L.map('map').setView([46.7833, 6.65], 14);
//         //var marker = L.marker([46.7833, 6.65]).addTo(map);

//navigator.geolocation.getCurrentPosition(function(location) {
  //var latlng = new L.LatLng(location.coords.latitude, location.coords.longitude);

  var mymap = L.map('map').setView([46.7833, 6.65], 14)
  mapLink =
        '<a href="http://openstreetmap.org">OpenStreetMap</a>';
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; ' + mapLink + ' Contributors',
         maxZoom: 22,
      }).addTo(mymap);
    //var marker = L.marker(latlng).addTo(mymap);


  // L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
  //   attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://mapbox.com">Mapbox</a>',
  //   maxZoom: 18,
  //   id: 'mapbox.streets',
  //   accessToken: 'pk.eyJ1IjoiYmJyb29rMTU0IiwiYSI6ImNpcXN3dnJrdDAwMGNmd250bjhvZXpnbWsifQ.Nf9Zkfchos577IanoKMoYQ'
  // }).addTo(mymap);

  // var marker = L.marker(latlng).addTo(mymap);


</script> -->



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>
